body {
  font-family: Arial, sans-serif;
  background: pink;
  text-align: center;
  color: white;
}

.page {
  display: none;
  padding: 30px;
}

.page.active {
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
